openapi: 3.1.0
info:
  version: "1.0"
  title: LAPRAS Public API
  summary: lapras-public-api-schema
  description: LAPRAS公開ページAPIの仕様書
servers:
  - url: "https://lapras.com/public"
paths: {}
components:
  schemas:
    QiitaArticle:
      type: object
      description: Qiita記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        headlines:
          type: array
          items:
            type: string
        stockers_count:
          type: integer
        updated_at:
          type: string
      required:
        - title
        - url
        - tags
        - headlines
        - stockers_count
        - updated_at
      examples:
        - title: hogehoge
          url: "https://qiita.com/hogehoge"
          tags:
            - foo
          headlines:
            - bar
          stockers_count: 3
          updated_at: "020-07-26T08:10:11"
      x-examples:
        Example 1:
          title: hogehoge
          url: "https://qiita.com/hogehoge"
          tags:
            - foo
          headlines:
            - bar
          stockers_count: 3
          updated_at: "020-07-26T08:10:11"
    ZennArticle:
      type: object
      description: Zenn記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        posted_at:
          type: string
      required:
        - title
        - url
        - tags
      examples:
        - title: hoge
          url: "https://zenn.dev/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://zenn.dev/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
    BlogArticle:
      type: object
      description: ブログ記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        posted_at:
          type: string
      required:
        - title
        - url
        - tags
        - posted_at
      examples:
        - title: hoge
          url: "https://blog.com/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://blog.com/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
    NoteArticle:
      type: object
      description: note記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        like_count:
          type: integer
        published_at:
          type: string
      required:
        - title
        - url
        - tags
        - like_count
        - published_at
      examples:
        - title: hoge
          url: "https://note.com/hoge"
          tags:
            - foo
          like_count: 3
          published_at: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://note.com/hoge"
          tags:
            - foo
          like_count: 3
          published_at: "2022-10-03T08:36:43"
    SpeakerDeckSlide:
      type: object
      description: SpeakerDeckスライド
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        description:
          type: string
        view_count:
          type: integer
        star_count:
          type: integer
        presentation_date:
          type: string
      required:
        - title
        - url
        - tags
        - description
        - view_count
        - star_count
        - presentation_date
      examples:
        - title: hoge
          url: "https://speakerdeck.com/hoge"
          tags:
            - foo
          description: foo
          view_count: 1
          star_count: 2
          presentation_date: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://speakerdeck.com/hoge"
          tags:
            - foo
          description: foo
          view_count: 1
          star_count: 2
          presentation_date: "2022-10-03T08:36:43"
