openapi: 3.1.0
info:
  version: "1.0"
  title: LAPRAS Public API
  summary: lapras-public-api-schema
  description: LAPRAS公開ページAPIの仕様書
servers:
  - url: "https://lapras.com/public"
paths: {}
components:
  schemas:
    QiitaArticle:
      type: object
      description: Qiita記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        headlines:
          type: array
          items:
            type: string
        stockers_count:
          type: integer
        updated_at:
          type: string
      required:
        - title
        - url
        - tags
        - headlines
        - stockers_count
        - updated_at
      examples:
        - title: hogehoge
          url: "https://qiita.com/hogehoge"
          tags:
            - foo
          headlines:
            - bar
          stockers_count: 3
          updated_at: "020-07-26T08:10:11"
      x-examples:
        Example 1:
          title: hogehoge
          url: "https://qiita.com/hogehoge"
          tags:
            - foo
          headlines:
            - bar
          stockers_count: 3
          updated_at: "020-07-26T08:10:11"
    ZennArticle:
      type: object
      description: Zenn記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        posted_at:
          type: string
      required:
        - title
        - url
        - tags
      examples:
        - title: hoge
          url: "https://zenn.dev/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://zenn.dev/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
    BlogArticle:
      type: object
      description: ブログ記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        posted_at:
          type: string
      required:
        - title
        - url
        - tags
        - posted_at
      examples:
        - title: hoge
          url: "https://blog.com/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://blog.com/hoge"
          tags:
            - foo
          posted_at: "2022-10-03T08:36:43"
    NoteArticle:
      type: object
      description: note記事
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        like_count:
          type: integer
        published_at:
          type: string
      required:
        - title
        - url
        - tags
        - like_count
        - published_at
      examples:
        - title: hoge
          url: "https://note.com/hoge"
          tags:
            - foo
          like_count: 3
          published_at: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://note.com/hoge"
          tags:
            - foo
          like_count: 3
          published_at: "2022-10-03T08:36:43"
    SpeakerDeckSlide:
      type: object
      description: SpeakerDeckスライド
      properties:
        title:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: string
        description:
          type: string
        view_count:
          type: integer
        star_count:
          type: integer
        presentation_date:
          type: string
      required:
        - title
        - url
        - tags
        - description
        - view_count
        - star_count
        - presentation_date
      examples:
        - title: hoge
          url: "https://speakerdeck.com/hoge"
          tags:
            - foo
          description: foo
          view_count: 1
          star_count: 2
          presentation_date: "2022-10-03T08:36:43"
      x-examples:
        Example 1:
          title: hoge
          url: "https://speakerdeck.com/hoge"
          tags:
            - foo
          description: foo
          view_count: 1
          star_count: 2
          presentation_date: "2022-10-03T08:36:43"
    GitHubRepository:
      type: object
      description: GitHubリポジトリ
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
        is_oss:
          type: boolean
        is_fork:
          type: boolean
        is_owner:
          type: boolean
        description:
          type: string
        stargazers_count:
          type: integer
        stargazers_url:
          type: string
        forks:
          type: integer
        contributors_count:
          type: integer
        contributors_url:
          type: string
        contributions:
          type: integer
        contributions_url:
          type: string
        language:
          type: string
        languages:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              bytes:
                type: integer
            required:
              - name
              - bytes
      required:
        - id
        - title
        - url
        - is_oss
        - is_fork
        - is_owner
        - description
        - stargazers_count
        - stargazers_url
        - forks
        - contributors_count
        - contributors_url
        - contributions
        - contributions_url
        - language
        - languages
      examples:
        - id: 1
          title: lapras-inc/foo
          url: "https://github.com/lapras-inc/foo"
          is_oss: false
          is_fork: false
          is_owner: true
          description: bar
          stargazers_count: 211
          stargazers_url: "https://github.com/lapras-inc/foo/stargazers"
          forks: 22
          contributors_count: 14
          contributors_url: "https://github.com/lapras-inc/foo/graphs/contributors"
          contributions: 313
          contributions_url: "https://github.com/klapras-inc/foo/g/commits?author=hoge"
          language: TypeScript
          languages:
            - name: TypeScript
              bytes: 74882
      x-examples:
        Example 1:
          id: 1
          title: lapras-inc/foo
          url: "https://github.com/lapras-inc/foo"
          is_oss: false
          is_fork: false
          is_owner: true
          description: bar
          stargazers_count: 211
          stargazers_url: "https://github.com/lapras-inc/foo/stargazers"
          forks: 22
          contributors_count: 14
          contributors_url: "https://github.com/lapras-inc/foo/graphs/contributors"
          contributions: 313
          contributions_url: "https://github.com/klapras-inc/foo/g/commits?author=hoge"
          language: TypeScript
          languages:
            - name: TypeScript
              bytes: 74882
    TeratailReply:
      type: object
      description: Teratailの回答
      properties:
        title:
          type: string
        url:
          type: string
        is_best_answer:
          type: boolean
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
      required:
        - title
        - url
        - is_best_answer
        - tags
        - created_at
      examples:
        - title: hoge
          url: "https://teratail.com/hoge"
          is_best_answer: true
          tags:
            - TypeScript
          created_at: "2020-07-09T20:22:46"
      x-examples:
        Example 1:
          title: hoge
          url: "https://teratail.com/hoge"
          is_best_answer: true
          tags:
            - TypeScript
          created_at: "2020-07-09T20:22:46"
    Event:
      type: object
      description: イベント参加
      properties:
        title:
          type: string
        url:
          type: string
        status:
          type: integer
        date:
          type: string
        is_presenter:
          type: boolean
        is_organizer:
          type: boolean
      required:
        - title
        - url
        - status
        - date
        - is_presenter
        - is_organizer
      examples:
        - title: hoge
          url: "https://hoge.connpass.com/event/"
          status: 1
          date: "2022-12-03T00:00:00"
          is_presenter: false
          is_organizer: false
      x-examples:
        Example 1:
          title: hoge
          url: "https://hoge.connpass.com/event/"
          status: 1
          date: "2022-12-03T00:00:00"
          is_presenter: false
          is_organizer: false
    Activity:
      type: object
      description: Activity Log
      properties:
        title:
          type: string
        url:
          type: string
        date:
          type: string
        type:
          enum:
            - github
            - speaker_deck
            - qiita
            - zenn
            - note
            - teratail
            - blog
            - connpass
          readOnly: true
      required:
        - title
        - url
        - date
        - type
      examples:
        - title: lapras-inc/hoge
          url: "https://github.com/lapras-inc/hoge"
          date: "2022-12-10T11:25:37"
          type: github
      x-examples:
        Example 1:
          title: lapras-inc/hoge
          url: "https://github.com/lapras-inc/hoge"
          date: "2022-12-10T11:25:37"
          type: github
